[mysqld]
bind-address=0.0.0.0
skip_name_resolve
wait_timeout = 172800
interactive_timeout = 172800
connect_timeout = 172800
net_read_timeout = 172800
net_write_timeout = 172800
max_connections = 2000
#server-id
#log-bin